<configuration scan="false" scanPeriod="60000" debug="false">
 <!-- 
 
 最基本的Filter
 有ch.qos.logback.classic.filter.LevelFilter和ch.qos.logback.classic.filter.ThresholdFilter
 LevelFilter:
  <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
   </filter>
 	ERROR级别的匹配到拒绝（DENY）不匹配的接受（ACCEPT）
 ThresholdFilter：
 <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
  </filter>
  打印INFO级别以上的log
  -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>
     
    <logger name="java" additivity="false" />
    <logger name="java.lang" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
     
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
     
</configuration>